.navigation__link,
.language__link, 
.language__slash {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: $color-link; 

  @extend %transition;
  
  &:hover {
    color: $color-primery;
  } 
}

.language__link, 
.language__slash  {
  padding: 0px 3.5px
}

.link_selected {  
  color: $color-primery;
}