.navigation {
  display: flex;
    
}

.navigation__list {
  display: flex; 
  z-index: 3;
  @include media-tablet {
    flex-direction: column;
    margin: 0;
    gap: 15px; 
    // background-color: $color-primery; 
  }   
}

.navigation__link {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  a {
    color: $color-link; 
    @extend %transition;  
    &:hover {
      color: $color-primery;
    }
  }  
  @include media-tablet{
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;

    padding: 0;
  } 
}

.navigation__link a[data-theme ='light']{
  color: $color-link-light; 
  &:hover {
    color: $color-linkActive-light;
  }
}

.link_selected {  
  color: $color-primery;
}

