.price__wrapper {
  background-color: $color-background;
  padding-top: 100px;
  @include media-tablet {
    padding-top: 133px;
  }
  @include media-mobile {
    padding-top: 40px;  
  } 
}

.price__wrapper[data-theme ='light']{
  background-color: $color-background-light;
}
.price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 60px 0px 100px;
  @include media-tablet {
    padding: 70px 0px 80px;
    gap: 50px;
  }  
}

.price-block {
  min-width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 3px $color-primery;
  padding: 41px 0;
  @include media-tablet {
    min-width: 420px;
  }

  @include media-mobile {
    min-width: auto;
    min-height: auto;
    padding: 10px 0;
     
  }
}

.price-block__text {
  max-width: 364px;
  padding: 0 75px;
  // margin: 0 0 40px;  
  letter-spacing: 0em;
  text-align: center;
  @include font (1.8rem, 3.6rem, $wight: 400);
  @extend %font-add;
  @include media-mobile {
    padding: 0 20px;
    margin: 0 0 10px;
  }
  
}

.price-block__title {
  margin: 0 auto;
  @include media-mobile {
    margin: 0 0 0;
  }
}

.price-block__number {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color-primery;
  @include font (2.4rem, 4.8rem, $wight: 700, $color:$color-primery);
  @include media-mobile {
    margin: 0;
  }
}
