.social {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}
ul.social {
  padding: 0;
}

.social__link {
  display: block;
  box-sizing: border-box;
  @extend %transition;
  align-items: center;
  padding: auto;
}

.social__items {
  cursor: pointer;
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
    @extend %transition;
  }
}
