.section-title {
  margin: 0 auto;
  align-items: center;
  position: relative;
  text-align: center;
  width: 50%;
  overflow-x: hidden; 

  &:after {
    background-color: $color-primery;
    content: "";
    position: absolute;
    top: 50%;    
    height: 2px;
    width: 100%;
    @include media-mobile {
      width: 0;
    }
  }

  &:before {
    background-color: $color-primery;
    content: "";
    position: absolute;
    top: 50%;    
    height: 2px;
    left: 0;
    width: 275px;
  
    @include media-laptop {
      width: 170px; 
    }
    
    @include media-tablet {
     width: 122px;
    }
    @include media-mobile {
      width: 0;
    }

  }
}

.portfolio-title {
  &:before {    
    width: 240px;
  
    @include media-laptop {
      width: 140px;
    }
    
    @include media-tablet {
     width: 101px;
    }
    
    @include media-mobile {
      width: 0;
    }
  }
}

.section-title__text {
  display: inline-block;
  align-items: center;
  padding: 0 20px;
}