.video__wrapper{
  background-color: $color-background;
  padding: 53px 20px 0;
  @include media-tablet {
   padding: 98px 0 0;
  }  
  @include media-mobile {
    padding-top: 40px;  
  } 
}
.video__player {
  padding-top: 60px;
  @include media-tablet {
    padding-top: 70px;
  }  

}

.player {
  position: relative;  
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: auto;  
}

// .player




