.video__wrapper{
  background-color: $color-background;
  padding: 100px 20px 0px;
}           

.video__title {
  margin: auto;
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: auto;  
}


