.video__wrapper {
  background-color: $color-background;
  padding: 98px 20px 0;
  @include media-tablet {
    padding: 98px 0 0;
  }
  @include media-mobile {
    padding-top: 40px;
  }
}

.video__wrapper[data-theme="light"] {
  background-color: $color-background-light;
}

.video__player {
  padding-top: 60px;
  @include media-tablet {
    padding-top: 70px;
  }
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: auto;
  border: 1px solid $color-primery;
  border-bottom: 0;
}

.player__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% + 2px);
  height: 60px;
  padding: 0 20px;
  background-color: $color-background;
  border: 1px solid $color-primery;
  border-top: 0;
}

.player__button {
  width: 40px;
  height: 36px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
  }
}

.player__play {
  background: transparent url("../assets/img/icons/video/play.svg");
  background-repeat: no-repeat;
}
.player__mute {
  background: transparent url("../assets/img/icons/video/volume.svg");
  background-repeat: no-repeat;
}
.player__mute_on {
  background: transparent url("../assets/img/icons/video/mute.svg");
  background-repeat: no-repeat;
}
.player__progress,
.player__volume {
  width: calc(80% - 170px);
  height: 10px;
}
.player__range {
  height: 8px;
  border-radius: 0;
  &.player__volume {
    background: linear-gradient(
      to right,
      rgb(189, 174, 130) 0%,
      rgb(189, 174, 130) 50%,
      rgb(200, 200, 200) 50%,
      rgb(200, 200, 200) 100%
    );
  }

  cursor: pointer;
  outline: none;
  -webkit-appearance: none;

  // transition: background 450ms ease-in;
}

.player__volume {
  width: calc(20% - 50px);
}

.player__fullscreen {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  background: transparent url("../assets/img/icons/video/fullscreen.svg")
    no-repeat center;
  border: none;
}
.player__fullscreen__exit {
  background: transparent url("../assets/img/icons/video/fullscreen-exit.svg")
    no-repeat center;
  border: none;
}

.player__pause {
  background: transparent url("../assets/img/icons/video/pause.svg");
  background-repeat: no-repeat;
}
