.price__wrapper {
  background-color: $color-background;
  // padding: 20px 20px 10px;
}

.price-container {
  padding: 20px 20px 100px;
}

.price__title {
  margin: auto;
}

.price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 1px $color-primery;
  padding: 43px 0;
}

.price-block__text {
  max-width: 364px;
  padding: 0 75px;
  margin: 0 0 40px;  
  font-family: Inter; 
  letter-spacing: 0em;
  text-align: center;
  @include font (1.8rem, 3.6rem, $wight: 400);
  @extend %font-add;
}

.price-block__title {
  margin: auto;
}

.price-block__number {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color-primery;
  @include font (2.4rem, 4.8rem, $wight: 700, $color:$color-primery);
}
