.price__wrapper {
  background-color: $color-background;
}

.price-container {
  align-items: center;
  justify-content:center;
  gap: 20px;
  padding: 20px 0px 100px;  
}

.price__title {
  margin: 100px 0 60px;
  
  @include media-tablet {
    margin: 80px 0 50px 0;
  }
  @include media-mobile {
    margin: 40px 0 10px;
  }
}

.price-block {
  min-width: 450px;
  min-height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 1px $color-primery;
  padding: 43px 0;
  @include media-mobile {
    min-width: auto;
    min-height: auto;
    padding: 10px 0;
     
  }
}

.price-block__text {
  max-width: 364px;
  padding: 0 75px;
  margin: 0 0 40px;  
  letter-spacing: 0em;
  text-align: center;
  @include font (1.8rem, 3.6rem, $wight: 400);
  @extend %font-add;
  @include media-mobile {
    padding: 0 20px;
    margin: 0 0 10px;
  }
  
}

.price-block__title {
  margin: auto;
  @include media-mobile {
    margin: 0 0 0;
  }
}

.price-block__number {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color-primery;
  @include font (2.4rem, 4.8rem, $wight: 700, $color:$color-primery);
  @include media-mobile {
    margin: 0;
  }
}
