.contacts__wrapper {
  display: flex;
  flex-direction:row-reverse;  
  background-image: url("../assets/contacts/contacts.png");
  background-position: center center;
   height: auto;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 59px 40px 196px 950px;
  padding: 0;
  @include media-tablet {
    justify-content: center;
    margin: auto;

  }
}

.contacts__title {
  margin: 0 0 30px;  
  text-align: left;
  @include media-tablet {
    text-align: center;

  }
}

.contacts__email,
.contacts__phone {
  margin: 10px 0; 
  border: 2px solid $color-primery;  
  text-align: left;
  padding: 5px 226px 5px 20px;
  background: rgba(0, 0, 0, 0.5);
  @include font (2rem, 4rem, $color: $color-white, $wight: normal);
  @extend %font-add;
}

.contacts__message {
  margin: 10px 0 30px;
  padding: 5px 226px 5px 20px;
  height: 100px;
  width: 100%;

  // border-radius: 0px;
  border: 2px solid $color-primery;  
  letter-spacing: 0em;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  @include font (2rem, 4rem, $color: $color-white, $wight: normal);
  @extend %font-add;
}

::placeholder {
  color: $color-primery;
}
