.contacts__wrapper {
  display: flex;
  flex-direction:row-reverse;  
  background-image: url("../assets/hero/bg.png");
  height: auto;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}