
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  @include media-mobile {
    flex-wrap: wrap;
    // justify-items: center;
    // align-items: center;
  }
    
}

.footer__data {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 50px 0;
  @include media-mobile {
    padding: 0px;
    align-items: center;
  }
}

.copyright-rs,
.year,
.github,
.label {
  @include font (2rem, 5rem, $wight: 400,);
  @extend %font-add; 
  margin: 0;
  // padding: 50px 0;
  
}