.header__wrapper {
  background: url("../assets/header/bg.png");
  background-repeat: no-repeat;
  background-position: center 0;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  @include media-tablet {
    max-width: $tablet-width;
    padding: 0 60px;
  }
  
}

.navigation__list,
.header__language {
  display: flex; 
  
}
.navigation__list {
  @include media-tablet {
    display: none;
  } 
}

.header__language {
  padding-right: 20px;
  padding-left: 15px;
  @include media-tablet {
    flex-direction: flex-end;
    ;
  } 
}

.header__logo {
  cursor: pointer;
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
  @include media-mobile {   
    width: 35px;   
  } 
}