.header {
  padding: 20px 0 20 0;
  margin-bottom: -90px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
}

.navigation,
.header__language {
  display: flex;  
}

.header__language {
  padding-right: 20px;
  padding-left: 15px;
}

.navigation__link,
.language__link, 
.language__slash {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: $color-link;  
}

.language__link, 
.language__slash  {
  padding: 0px 3.5px
}

.link_selected {  
  color: $color-primery;
}

.header__logo {
  padding-left: 20px ;
}