.header__wrapper {
  background: url("../assets/header/bg.png");
  background-repeat: no-repeat;
  background-position: center 0;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  @include media-tablet {
    max-width: $tablet-width;
    padding: 0 64px 0 60px;
    background-position: -5px -32px;
    background-size: auto 620px;
  }  
  @include media-mobile {
    padding: 0 20px;
  }
}

.header__language {
  @include media-tablet {
    flex-direction: flex-end;
    padding: 0 20px 0 0;
  } 
}

.header__logo {
  cursor: pointer;
  @extend %transition;  
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
  @include media-mobile {   
    width: 35px;   
  }   
}

.header__navigation {
  margin-left: auto;   
  padding-right: 13px;
  @extend %transition; 
  @include media-tablet { 
    top: 0px;
    right: -150%; 
    margin: 0;
    position: fixed;
    background-color: $color-background;
    z-index: 3;
    height: 100%;  
    width: 80%; 
    overflow:auto;      
    padding-top: 134px;
    padding-left: 80px;    
  }   
  &_hamburger_active {
      right: 0;
    }

  @include media-620 {
    width: 100%;  
    opacity: 0.9;   
  }
 
  
  @include media-mobile {
    // left: 0px;
    padding: 60px 0 0;
    height: 100%;
    opacity: 0.9;
    overflow: auto;
  }
 
}