.hero__wrapper { 
  padding: 0 0 0 80px; 
  min-height: 820px;
  display: flex;
  background: url("../assets/hero/bg.png");
  background-position: center -90px;
  background-repeat: no-repeat; 
  @include media-tablet {
    min-height: 500px;
    padding: 0 0 0 60px; 
    // height: 500px;
    background-position: -5px -122px;
    background-size: auto 620px;
  }
  @include media-mobile {
    max-height: 400px;
  }
}

.hero__content {
  max-width: 500px;
  max-height: 330px;
   display: flex;
  flex-direction: column;
  margin-top: 160px;
  @include media-tablet {
    max-width: 390px;
    max-height: 274px;  
    margin-top: 78px;
  }
  @include media-mobile {
    max-width: 220px;
    max-height: 150px;  
    margin-top: 150px;
  }
}

.hero__text {  
  max-width: 470px;
  margin: 0 0 25px;
  text-align: left;

  @include font (2rem, 4rem, $wight: 400);
  @extend %font-add;
  
  @include media-tablet {
    @include font (2rem, 2.4rem, $wight: normal);
    margin: 0 0 59px;
  }

  @include media-mobile{
    @include font (1rem, 2rem, $wight: 200);
  }
}
.hero__title {
  margin: 0 0 10px;
  max-width: 500px;
  @include media-tablet {
    @include font (3.2rem, 6.4rem, $wight: 400);
    margin: 0 0 20px;
  }

  // @include media-mobile {
  //   @include font (2.2rem, 4.4rem, $wight: 400);
  // }
}