.portfolio__wrapper {
  justify-content: center;
  background-color: $color-background;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-tablet {
    padding-top: 105px;
  } 
  @include media-mobile {
    padding-top: 40px;  
  } 
  
}

.portfolio__buttons-container {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
  gap: 5px;
  @include media-tablet {
    max-width: 445px;
    padding-top: 70px;
    padding-bottom: 59px;
  }  

  @include media-mobile {
    width: 220px;    
  }  
}

.portfolio__slider-container {
  @include media-tablet {
    
  }

  @include media-mobile {
    max-width: 100%;    
  }
}

.portfolio__slider-set {  
  max-width: 100%;
  // max-height: 1145px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 25px;
}

.portfolio__item {
  display: block;
  width: auto;

  @include media-mobile {
    max-width: 370px;
    max-height: auto;
  }

  @include media-mobilesmall {
    max-width: 300px;
    max-height: auto;
  }
}
