.wrapper {
  max-width: $content-width;
  margin: auto;
  
  @include media-tablet {
    max-width: $tablet-width;
    // padding: 0 26px;
  }
  @include media-mobile {
    max-width: $mobile-big-width;
  }
}
