.button,
.portfolio__button,
.price__button {
  min-width: 220px;
  padding: 6px 0px;
  font-family: Inter;
  @include font (2rem, 4rem, $wight:normal);
  cursor: pointer; 
  text-align: center; 
  background-color: transparent;
  border:  2px solid $color-primery;
  color: $color-primery;
  &:hover{
    color: $color-hovered;
  }  
  @extend %transition;

  &_active {
    background-color: $color-primery;   
    color: $color-primery-button;
    &:hover{
      color: $color-hovered;
    }
    
  }
  
}
.portfolio__button[data-theme ='light'],
 .price__button[data-theme ='light'] {
  background-color: $color-backgroundBtn-light;
  color: $color-text-light;
  &:hover{
    color: $color-hoveredActive-light;
    background-color:$color-backgroundActiveBtn-light;
  } 
}

.portfolio__button_active[data-theme ='light'],
.contacts-botton__active[data-theme ='light'],
.hero__button_active[data-theme ='light'],
.contacts-botton_active[data-theme ='light']{
  background-color: $color-backgroundActiveBtn-light;   
  color: $color-textActiveBtn-light;
  &:hover{
    color: $color-hoveredActive-light;
  }
}

.hero__button_active[data-theme ='light'],
.contacts-botton_active[data-theme ='light']{
  color: $color-text-light;
}

.contacts-botton,
.hero__button {
  max-width: 220px;
  @include media-mobile {
    max-width: 100%;
  }
  background-color: $color-backgroundBtn-light;
  color:$color-black;
}
.contacts-botton[data-theme ='light'],
.hero__button[data-theme ='light'] {
  background-color: $color-white;   
  color: $color-text-light;
  &:hover{
    color: $color-hoveredActive-light;
    background-color:$color-backgroundActiveBtn-light;
  }
}

.player__screen-button {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 80px);
  z-index: 2;
  background-color: transparent;  
  border: none;
  cursor: pointer;
  @extend %transition;  
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
 
  @include media-tablet {
  img {
    width: 75px;
  }
  top: calc(50% - -13px);
  left: calc(50% - 42px);
  }

  @include media-mobile {
    img {
      width: 50px;
    }
      top: 50%;
      left: calc(50% - 30px);
  }
}
