.button {
  min-width: 220px;
  padding: 6px 0px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem; 
  cursor: pointer; 
  text-align: center; 
  
  @extend %transition;

  &_bordered {
    background-color: transparent;
    border:  1px solid $color-primery;
    color: $color-primery;
    &:hover{
      color: $color-hovered;
    }
  }

  &_colored {
    background-color: $color-primery;
    border:  1px solid $color-primery;
    color: $color-primery-button;
    &:hover{
      color: $color-hovered;
    }
  }
}

.contacts_botton {
  max-width: 220px;
  @include media-mobile {
    max-width: 100%;
  }
}

.player__screen-button {
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 50px);
  z-index: 2;
  background-color: transparent;  
  border: none;
  cursor: pointer;
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
 
  @include media-tablet {
  img {
    width: 75px;
  }
    top: calc(50% - 55px);
    left: calc(50% - 30px);
  }

  @include media-mobile {
    img {
      width: 50px;
    }
      top: calc(50% - 35px);
      left: calc(50% - 30px);
    }
}
